app/empty.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Пустая корзина</title>
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <div class="wrapper empty-wrapper">
      <header>
        <div class="limmiter">
          <a class="btn btn-opacity-3 header-back-btn" href="#"><span class="fa fa-angle-left"></span><span class="header-back-btn__content">Назад к просмотру корзины</span></a>
          <div class="logo">
            <img src="./img/logo.svg" />
          </div>
          <a class="header-cart" href="#"><span class="header-cart__number">3</span></a><a class="header__phone" href="#">8 (800) 555-11-90</a><span class="header-phone__label">Звонок бесплатный</span>
        </div>
      </header>
      <div class="empty-card">
        <div class="empty-card__title">
          <h3>
            Вы еще не добавляли фотокниги в корзину
          </h3>
        </div>
        <div class="empty-card-content">
          Cвадебная или детская фотокнига, история любви или путешествие — Enjoybook прекрасно подойдет для любого повода! Создавайте историю из каждого события! <a href="#">Скорее создайте свою первую фотокнигу!</a>
        </div>
        <div class="empty-card__logo"></div>
        <br /><a class="btn blue" href="#">Создать фотокнигу</a>
      </div>
    </div>
  </body>
</html>

app/slim/empty.slim
doctype html
html lang="en"
	head
		meta charset="UTF-8"
		title Пустая корзина
		link rel="stylesheet" href="./css/main.css"
		link rel="stylesheet" href="./css/font-awesome.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
	body
		.wrapper.empty-wrapper
			header
				.limmiter
					a class="btn btn-opacity-3 header-back-btn" href="#"
						span class="fa fa-angle-left" 
						span class="header-back-btn__content" Назад к просмотру корзины
					.logo
						img src="./img/logo.svg"
					a href="#" class="header-cart"
						span class="header-cart__number" 3
					a href="#" class="header__phone" 
						| 8 (800) 555-11-90
					span class="header-phone__label" Звонок бесплатный
			.empty-card
				.empty-card__title
					h3 Вы еще не добавляли фотокниги в корзину
				.empty-card-content 
					| Cвадебная или детская фотокнига, история любви или путешествие — Enjoybook прекрасно подойдет для любого повода! Создавайте историю из каждого события! 
					a href="#" Скорее создайте свою первую фотокнигу!
				.empty-card__logo
				br
				a href="#" class="btn blue" Создать фотокнигу
