app/slim/order.slim
doctype html
html lang="en"
	head
		meta charset="UTF-8"
		title Форма
		link rel="stylesheet" href="./css/main.css"
		link rel="stylesheet" href="./css/font-awesome.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
	body
		.wrapper.mobile-footer
			header
				.limmiter
					a class="btn btn-opacity-3 header-back-btn" href="#"
						span class="fa fa-angle-left" 
						span class="header-back-btn__content" Назад к просмотру корзины
					.logo
						img src="./img/logo.svg"
					a href="#" class="header-cart"
						span class="header-cart__number" 3
					a href="#" class="header__phone" 8 (800) 555-11-90
			.ordering-window
				.ordering-window__header Оформление заказа
				.ordering-window-content
					.row
						.ordering-window-content-field-5.ordering-window-content-field
							.ordering-window-content__name
								label for="name" class="" имя и фамилия
							.ordering-window-content-input	
								input type="text" class="field" id="name" name="name"
							.ordering-window-content__info Укажите имя и фамилию получателя по паспорту для получения посылки.
						.ordering-window-content-field-4.ordering-window-content-field
							.ordering-window-content__name
								label for="email" class="" e-mail
							.ordering-window-content-input	
								input type="text" class="field" id="email" name="email"
							.ordering-window-content__info На этот адрес мы будем присылать письма об изменении статуса заказа, обещаем не спамить
						.ordering-window-content-field-3.ordering-window-content-field
							.ordering-window-content__name
								label for="phone" class="" телефон
							.ordering-window-content-input	
								input type="text" class="field" id="phone" name="phone"
							.ordering-window-content__info Укажите актуальный номер телефона, чтобы наш курьер смог с Вами связаться перед доставкой
					.row.home-delivery
						.home-delivery-city.ordering-window-content-field-4.ordering-window-content-field
							.ordering-window-content__name
								label for="city" class="" Город доставки
							.ordering-window-content-input	
								input type="text" class="field" id="city" name="city"
						.ordering-window-content-field-4.ordering-window-content-field
							.ordering-window-content__name
								label for="street" class="" Улица
							.ordering-window-content-input	
								input type="text" class="field" id="street" name="street"
						.ordering-window-content-field-1.ordering-window-content-field
							.ordering-window-content__name
								label for="home" class="" Дом
							.ordering-window-content-input	
								input type="text" class="field" id="home" name="home"
						.ordering-window-content-field-1.ordering-window-content-field
							.ordering-window-content__name
								label for="housing" class="" Корпус
							.ordering-window-content-input	
								input type="text" class="field" id="housing" name="housing"
						.ordering-window-content-field-1.ordering-window-content-field
							.ordering-window-content__name
								label for="floor" class="" Этаж
							.ordering-window-content-input	
								input type="text" class="field" id="floor" name="floor"
						.ordering-window-content-field-1.ordering-window-content-field
							.ordering-window-content__name
								label for="appartament" class="" Квартира
							.ordering-window-content-input	
								input type="text" class="field" id="appartament" name="appartament"
					.delivery-info
						.delivery-info__title.title Выберите удобный способ доставки
						.delivery-info-types
							.delivery-info-type
								.delivery-info-type-radio
									input type="radio" name="delivery-type" id="free-del" class="enjoy-radio"
									label for="free-del" Бесплатная доставка
								.delivery-info-type-info
									p Доставка заказным почтовым отправлением.
									p
										span 
											b Цена: 
											| Бесплатно
										span 
											b Срок: 
											| 3-8 рабочих дней.
							.delivery-info-type
								.delivery-info-type-radio
									input type="radio" name="delivery-type" id="cour-del" class="enjoy-radio"
									label for="cour-del" Доставка курьером
								.delivery-info-type-info
									p Доставка по России курьером лично в руки.
									p
										span 
											b Цена: 
											| Бесплатно
										span 
											b Срок: 
											| 3-8 рабочих дней.
							.delivery-info-type
								.delivery-info-type-radio
									input type="radio" name="delivery-type" id="oren-del" class="enjoy-radio"
									label for="oren-del" Доставка по Оренбургу
								.delivery-info-type-info
									p Доставка курьером по Оренбургу.
									p
										span 
											b Цена: 
											| Бесплатно
										span 
											b Срок: 
											| 3-8 рабочих дней.
					.delivery-pay
						.title Выберите способ оплаты
						.delivery-pay-variants
							.delivery-pay-variant
								input type="radio" name="pay-type" id="nal-pay" class="enjoy-radio" value="nal-pay"
									label for="nal-pay" Оплата наличными
							.delivery-pay-variant
								input type="radio" name="pay-type" id="cour-pay" class="enjoy-radio" value="cour-pay"
									label for="cour-pay" Оплата картой курьеру
							.delivery-pay-variant
								input type="radio" name="pay-type" id="card-pay" class="enjoy-radio" value="card-pay"
									label for="card-pay" Онлайн оплата картой
						.delivery-pay-variants_mobile
							select name="pay-variant" class="field"
								option value="pay-type" Оплата наличными
								option value="cour-pay" Оплата картой курьеру
								option value="card-pay" Онлайн оплата картой
			footer.cart-footer
				.limmiter
					.info-popup.active
						.row
							p Фотокнига (розовый) 20 стр. х 2 шт. 
							span  Стоимость: 3 790 руб.
						.row
							p Фотокнига (розовый) 20 стр. х 2 шт. 
							span  Стоимость: 3 790 руб.
						.row
							p Фотокнига (розовый) 20 стр. х 2 шт. 
							span  Стоимость: 3 790 руб.
					.footer-content
						.footer-left
							.footer-left__title Стоимость заказа:
							.footer-left-info-data
								.footer-left-info
									.footer-left-info__title 
										| Фотокнига х 3 шт.
										a href="#" class="info active" ?
									.footer-left-info__date 20 790 руб.
								.footer-left-info
									.footer-left-info__title Доставка курьером
									.footer-left-info__date 450 руб.
								.footer-left-info
									.footer-left-info__title Промокод
									.footer-left-info__date -10 000 руб.
						.footer-right
							a href="#" class="footer__promo" Есть промокод?
							a href="#" class="btn bnt-order blue" Оформить за 11 240 руб.
			footer class="fixed footer_mobile"
				.limmiter
					.footer-content
						.footer-content-left
							p
								b Стоимость заказа:
								span 51 670 руб.
								a href="#" class="details" Детализация
						.footer-content-right
							a href="#" class="footer__promo" Есть промокод?
							a href="#" class="btn blue" Оформить за 51 670 руб.

app/order.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Форма</title>
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <div class="wrapper mobile-footer">
      <header>
        <div class="limmiter">
          <a class="btn btn-opacity-3 header-back-btn" href="#"><span class="fa fa-angle-left"></span><span class="header-back-btn__content">Назад к просмотру корзины</span></a>
          <div class="logo">
            <img src="./img/logo.svg" />
          </div>
          <a class="header-cart" href="#"><span class="header-cart__number">3</span></a><a class="header__phone" href="#">8 (800) 555-11-90</a>
        </div>
      </header>
      <div class="ordering-window">
        <div class="ordering-window__header">
          Оформление заказа
        </div>
        <div class="ordering-window-content">
          <div class="row">
            <div class="ordering-window-content-field-5 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="name">имя и фамилия</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="name" name="name" type="text" />
              </div>
              <div class="ordering-window-content__info">
                Укажите имя и фамилию получателя по паспорту для получения посылки.
              </div>
            </div>
            <div class="ordering-window-content-field-4 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="email">e-mail</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="email" name="email" type="text" />
              </div>
              <div class="ordering-window-content__info">
                На этот адрес мы будем присылать письма об изменении статуса заказа, обещаем не спамить
              </div>
            </div>
            <div class="ordering-window-content-field-3 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="phone">телефон</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="phone" name="phone" type="text" />
              </div>
              <div class="ordering-window-content__info">
                Укажите актуальный номер телефона, чтобы наш курьер смог с Вами связаться перед доставкой
              </div>
            </div>
          </div>
          <div class="row home-delivery">
            <div class="home-delivery-city ordering-window-content-field-4 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="city">Город доставки</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="city" name="city" type="text" />
              </div>
            </div>
            <div class="ordering-window-content-field-4 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="street">Улица</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="street" name="street" type="text" />
              </div>
            </div>
            <div class="ordering-window-content-field-1 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="home">Дом</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="home" name="home" type="text" />
              </div>
            </div>
            <div class="ordering-window-content-field-1 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="housing">Корпус</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="housing" name="housing" type="text" />
              </div>
            </div>
            <div class="ordering-window-content-field-1 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="floor">Этаж</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="floor" name="floor" type="text" />
              </div>
            </div>
            <div class="ordering-window-content-field-1 ordering-window-content-field">
              <div class="ordering-window-content__name">
                <label for="appartament">Квартира</label>
              </div>
              <div class="ordering-window-content-input">
                <input class="field" id="appartament" name="appartament" type="text" />
              </div>
            </div>
          </div>
          <div class="delivery-info">
            <div class="delivery-info__title title">
              Выберите удобный способ доставки
            </div>
            <div class="delivery-info-types">
              <div class="delivery-info-type">
                <div class="delivery-info-type-radio">
                  <input class="enjoy-radio" id="free-del" name="delivery-type" type="radio" /><label for="free-del">Бесплатная доставка</label>
                </div>
                <div class="delivery-info-type-info">
                  <p>
                    Доставка заказным почтовым отправлением.
                  </p>
                  <p>
                    <span><b>Цена: </b>Бесплатно</span><span><b>Срок: </b>3-8 рабочих дней.</span>
                  </p>
                </div>
              </div>
              <div class="delivery-info-type">
                <div class="delivery-info-type-radio">
                  <input class="enjoy-radio" id="cour-del" name="delivery-type" type="radio" /><label for="cour-del">Доставка курьером</label>
                </div>
                <div class="delivery-info-type-info">
                  <p>
                    Доставка по России курьером лично в руки.
                  </p>
                  <p>
                    <span><b>Цена: </b>Бесплатно</span><span><b>Срок: </b>3-8 рабочих дней.</span>
                  </p>
                </div>
              </div>
              <div class="delivery-info-type">
                <div class="delivery-info-type-radio">
                  <input class="enjoy-radio" id="oren-del" name="delivery-type" type="radio" /><label for="oren-del">Доставка по Оренбургу</label>
                </div>
                <div class="delivery-info-type-info">
                  <p>
                    Доставка курьером по Оренбургу.
                  </p>
                  <p>
                    <span><b>Цена: </b>Бесплатно</span><span><b>Срок: </b>3-8 рабочих дней.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery-pay">
            <div class="title">
              Выберите способ оплаты
            </div>
            <div class="delivery-pay-variants">
              <div class="delivery-pay-variant">
                <input class="enjoy-radio" id="nal-pay" name="pay-type" type="radio" value="nal-pay"><label for="nal-pay">Оплата наличными</label></input>
              </div>
              <div class="delivery-pay-variant">
                <input class="enjoy-radio" id="cour-pay" name="pay-type" type="radio" value="cour-pay"><label for="cour-pay">Оплата картой курьеру</label></input>
              </div>
              <div class="delivery-pay-variant">
                <input class="enjoy-radio" id="card-pay" name="pay-type" type="radio" value="card-pay"><label for="card-pay">Онлайн оплата картой</label></input>
              </div>
            </div>
            <div class="delivery-pay-variants_mobile">
              <select class="field" name="pay-variant">
                <option value="pay-type">
                  Оплата наличными
                </option>
                <option value="cour-pay">
                  Оплата картой курьеру
                </option>
                <option value="card-pay">
                  Онлайн оплата картой
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <footer class="cart-footer">
        <div class="limmiter">
          <div class="info-popup active">
            <div class="row">
              <p>
                Фотокнига (розовый) 20 стр. х 2 шт. 
              </p>
              <span> Стоимость: 3 790 руб.</span>
            </div>
            <div class="row">
              <p>
                Фотокнига (розовый) 20 стр. х 2 шт. 
              </p>
              <span> Стоимость: 3 790 руб.</span>
            </div>
            <div class="row">
              <p>
                Фотокнига (розовый) 20 стр. х 2 шт. 
              </p>
              <span> Стоимость: 3 790 руб.</span>
            </div>
          </div>
          <div class="footer-content">
            <div class="footer-left">
              <div class="footer-left__title">
                Стоимость заказа:
              </div>
              <div class="footer-left-info-data">
                <div class="footer-left-info">
                  <div class="footer-left-info__title">
                    Фотокнига х 3 шт.<a class="info active" href="#">?</a>
                  </div>
                  <div class="footer-left-info__date">
                    20 790 руб.
                  </div>
                </div>
                <div class="footer-left-info">
                  <div class="footer-left-info__title">
                    Доставка курьером
                  </div>
                  <div class="footer-left-info__date">
                    450 руб.
                  </div>
                </div>
                <div class="footer-left-info">
                  <div class="footer-left-info__title">
                    Промокод
                  </div>
                  <div class="footer-left-info__date">
                    -10 000 руб.
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-right">
              <a class="footer__promo" href="#">Есть промокод?</a><a class="btn bnt-order blue" href="#">Оформить за 11 240 руб.</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="fixed footer_mobile">
        <div class="limmiter">
          <div class="footer-content">
            <div class="footer-content-left">
              <p>
                <b>Стоимость заказа:</b><span>51 670 руб.</span><a class="details" href="#">Детализация</a>
              </p>
            </div>
            <div class="footer-content-right">
              <a class="footer__promo" href="#">Есть промокод?</a><a class="btn blue" href="#">Оформить за 51 670 руб.</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
