app/slim/popup.slim
doctype html
html lang="en"
	head
		meta charset="UTF-8"
		title Всплывающее окно
		link rel="stylesheet" href="./css/main.css"
		link rel="stylesheet" href="./css/font-awesome.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
	body
		.popup.active
			.popup-content
				.popup-content-left
					.popup-content-right__title.mobile_title
						h3 «Премиум»
					.popup-content-left__img
						img src="img/popup-img.jpg"
					.popup-content-left-prews
						.popup-content-left-prev
							a href="#"
								img src="img/popup-item-img1.jpg"
						.popup-content-left-prev
							a href="#" class="active"
								img src="img/popup-item-img1.jpg"
						.popup-content-left-prev
							a href="#"
								img src="img/popup-item-img2.jpg"
				.popup-content-right
					.popup-content-right__title
						h3 «Премиум»
					.popup-content-right__close
						a href="#" 
							i class="fa fa-times" aria-hidden="true"
					.popup-content-right__price 250 руб.
					.popup-content-right-counter
						.counter__title Количество
						.counter
							span id="count-minus" -
							input type="text" name="count" value="2"
							span id="count-plus" +
					.popup-content-right__content Упаковка «Премиум» — это классика в лучших традициях. Лаконичный и сдержанный дизайн дорогой крафтовой бумаги в стильном цвете и акцент на широкую ленту оставят приятное воспоминание у самого искушенного человека. При разработке дизайна мы вдохновлялись фактурами дерева, глубокими цветами шелка и джазом.
					a href="#" class="btn blue popup-btn" Выбрать упаковку
				.popup-nav
					a href="#" class="popup-nav-element popup-nav__prev"
						span class="popup__prev popup-arrows"
					a href="#" class="popup-nav-element popup-nav__next"
						span class="popup__next popup-arrows"
		.wrapper.popup-wrapper
			header
				.limmiter
					a class="btn btn-opacity-3 header-back-btn" href="#"
						span class="fa fa-angle-left" 
						span class="header-back-btn__content" Назад к просмотру корзины
					.logo
						img src="./img/logo.svg"
					a href="#" class="header-cart"
						span class="header-cart__number" 3
					a href="#" class="header__phone" 
						| 8 (800) 555-11-90
					span class="header-phone__label" Звонок бесплатный
			.cart-cards
				.cart-card.active
					.cart-card-top
						h2 Фотокнига (фиолетовая) 40 стр.
						.cart-card-top-ui
							a href="#" class="dublicate" Дублировать товар
							a href="#" class="edit" Редактировать
							a href="#" class="del"
					.cart-card-body
						.cart-card-body-left
							.cart-card-body-left-slider
								.cart-card-body-left-item
									img	src="img/slide-image.jpg" alt=""
								.cart-card-body-left-slider-nav
									span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"
									span class="fa fa-angle-right cart-card-body-left-slider-nav__next"
						.cart-card-body-right
							.cart-card-body-right-price
								.cart-card-body-right-price-item
									p class="book-cost" 1 890 руб.
									span Стоимость фотокниги
								span class="book-cost-plus" +
								.cart-card-body-right-price-item
									p class="packet-cost"  3 000 руб.
									span Упаковка «Свежесть»
							.mobile-normal-view
								.cart-card-body-right-change
									.cart-card-body-right-count
										.counter__title Количество
										.counter
											span class="count-minus" -
											input type="text" name="count" value="2"
											span class="count-plus" +
									.cart-card-body-right-color
										.counter__title Цвет обложки
										.color-picker
											span class="color_orange"
											span class="color_violet"
											span class="color_yellow"
											span class="color_black"
											span class="color_blue active"
											span class="color_turquoise"
											span class="color_pink"
											span class="color_green"
								.cart-card-right-description
									| Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
								.cart-card-right-packaging-items
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image1.jpg"
										.cart-card-right-packaging-item__name «Премиум» 
										.cart-card-right-packaging-item__price 250 рублей
									.cart-card-right-packaging-item.active
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image2.jpg"
												span class="count" 20
										.cart-card-right-packaging-item__name «Свежесть» 
										.cart-card-right-packaging-item__price 150 рублей
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image3.jpg"
										.cart-card-right-packaging-item__name «Нежность» 
										.cart-card-right-packaging-item__price 150 рублей
					a href="#" class="mobile-normal-view-btn disable" Развернуть товар
				.cart-card
					.cart-card-top
						h2 Фотокнига (фиолетовая) 40 стр.
						.cart-card-top-ui
							a href="#" class="dublicate" Дублировать товар
							a href="#" class="edit" Редактировать
							a href="#" class="del"
					.cart-card-body
						.cart-card-body-left
							.cart-card-body-left-slider
								.cart-card-body-left-item
									img	src="img/slide-image.jpg" alt=""
								.cart-card-body-left-slider-nav
									span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"
									span class="fa fa-angle-right cart-card-body-left-slider-nav__next"
						.cart-card-body-right
							.cart-card-body-right-price
								.cart-card-body-right-price-item
									p class="book-cost" 1 890 руб.
									span Стоимость фотокниги
								span class="book-cost-plus" +
								.cart-card-body-right-price-item
									p class="packet-cost"  3 000 руб.
									span Упаковка «Свежесть»
							.mobile-normal-view.active
								.cart-card-body-right-change
									.cart-card-body-right-count
										.counter__title Количество
										.counter
											span class="count-minus" -
											input type="text" name="count" value="2"
											span class="count-plus" +
									.cart-card-body-right-color
										.counter__title Цвет обложки
										.color-picker
											span class="color_orange"
											span class="color_violet"
											span class="color_yellow"
											span class="color_black"
											span class="color_blue active"
											span class="color_turquoise"
											span class="color_pink"
											span class="color_green"
								.cart-card-right-description
									| Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
								.cart-card-right-packaging-items
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image1.jpg"
										.cart-card-right-packaging-item__name «Премиум» 
										.cart-card-right-packaging-item__price 250 рублей
									.cart-card-right-packaging-item.active
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image2.jpg"
												span class="count" 20
										.cart-card-right-packaging-item__name «Свежесть» 
										.cart-card-right-packaging-item__price 150 рублей
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image3.jpg"
										.cart-card-right-packaging-item__name «Нежность» 
										.cart-card-right-packaging-item__price 150 рублей
					a href="#" class="mobile-normal-view-btn enable" Развернуть товар
			footer class="fixed"
				.limmiter
					.footer-content
						.footer-content-left
							p
								b Фотокниг в корзине:
								span Фотокнига х 3 шт.
								a class="info" ?
						.footer-content-right
							a href="#" class="btn btn-empty" Добавить книгу
							a href="#" class="btn blue" Оформить за 51 670 руб.

app/popup.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Всплывающее окно</title>
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <div class="popup active">
      <div class="popup-content">
        <div class="popup-content-left">
          <div class="popup-content-right__title mobile_title">
            <h3>
              «Премиум»
            </h3>
          </div>
          <div class="popup-content-left__img">
            <img src="img/popup-img.jpg" />
          </div>
          <div class="popup-content-left-prews">
            <div class="popup-content-left-prev">
              <a href="#"><img src="img/popup-item-img1.jpg" /></a>
            </div>
            <div class="popup-content-left-prev">
              <a class="active" href="#"><img src="img/popup-item-img1.jpg" /></a>
            </div>
            <div class="popup-content-left-prev">
              <a href="#"><img src="img/popup-item-img2.jpg" /></a>
            </div>
          </div>
        </div>
        <div class="popup-content-right">
          <div class="popup-content-right__title">
            <h3>
              «Премиум»
            </h3>
          </div>
          <div class="popup-content-right__close">
            <a href="#"><i aria-hidden="true" class="fa fa-times"></i></a>
          </div>
          <div class="popup-content-right__price">
            250 руб.
          </div>
          <div class="popup-content-right-counter">
            <div class="counter__title">
              Количество
            </div>
            <div class="counter">
              <span id="count-minus">-</span><input name="count" type="text" value="2" /><span id="count-plus">+</span>
            </div>
          </div>
          <div class="popup-content-right__content">
            Упаковка «Премиум» — это классика в лучших традициях. Лаконичный и сдержанный дизайн дорогой крафтовой бумаги в стильном цвете и акцент на широкую ленту оставят приятное воспоминание у самого искушенного человека. При разработке дизайна мы вдохновлялись фактурами дерева, глубокими цветами шелка и джазом.
          </div>
          <a class="btn blue popup-btn" href="#">Выбрать упаковку</a>
        </div>
        <div class="popup-nav">
          <a class="popup-nav-element popup-nav__prev" href="#"><span class="popup__prev popup-arrows"></span></a><a class="popup-nav-element popup-nav__next" href="#"><span class="popup__next popup-arrows"></span></a>
        </div>
      </div>
    </div>
    <div class="wrapper popup-wrapper">
      <header>
        <div class="limmiter">
          <a class="btn btn-opacity-3 header-back-btn" href="#"><span class="fa fa-angle-left"></span><span class="header-back-btn__content">Назад к просмотру корзины</span></a>
          <div class="logo">
            <img src="./img/logo.svg" />
          </div>
          <a class="header-cart" href="#"><span class="header-cart__number">3</span></a><a class="header__phone" href="#">8 (800) 555-11-90</a><span class="header-phone__label">Звонок бесплатный</span>
        </div>
      </header>
      <div class="cart-cards">
        <div class="cart-card active">
          <div class="cart-card-top">
            <h2>
              Фотокнига (фиолетовая) 40 стр.
            </h2>
            <div class="cart-card-top-ui">
              <a class="dublicate" href="#">Дублировать товар</a><a class="edit" href="#">Редактировать</a><a class="del" href="#"></a>
            </div>
          </div>
          <div class="cart-card-body">
            <div class="cart-card-body-left">
              <div class="cart-card-body-left-slider">
                <div class="cart-card-body-left-item">
                  <img alt="" src="img/slide-image.jpg" />
                </div>
                <div class="cart-card-body-left-slider-nav">
                  <span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"></span><span class="fa fa-angle-right cart-card-body-left-slider-nav__next"></span>
                </div>
              </div>
            </div>
            <div class="cart-card-body-right">
              <div class="cart-card-body-right-price">
                <div class="cart-card-body-right-price-item">
                  <p class="book-cost">
                    1 890 руб.
                  </p>
                  <span>Стоимость фотокниги</span>
                </div>
                <span class="book-cost-plus">+</span>
                <div class="cart-card-body-right-price-item">
                  <p class="packet-cost">
                    3 000 руб.
                  </p>
                  <span>Упаковка «Свежесть»</span>
                </div>
              </div>
              <div class="mobile-normal-view">
                <div class="cart-card-body-right-change">
                  <div class="cart-card-body-right-count">
                    <div class="counter__title">
                      Количество
                    </div>
                    <div class="counter">
                      <span class="count-minus">-</span><input name="count" type="text" value="2" /><span class="count-plus">+</span>
                    </div>
                  </div>
                  <div class="cart-card-body-right-color">
                    <div class="counter__title">
                      Цвет обложки
                    </div>
                    <div class="color-picker">
                      <span class="color_orange"></span><span class="color_violet"></span><span class="color_yellow"></span><span class="color_black"></span><span class="color_blue active"></span><span class="color_turquoise"></span><span class="color_pink"></span><span class="color_green"></span>
                    </div>
                  </div>
                </div>
                <div class="cart-card-right-description">
                  Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
                </div>
                <div class="cart-card-right-packaging-items">
                  <div class="cart-card-right-packaging-item">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image1.jpg" /></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Премиум» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      250 рублей
                    </div>
                  </div>
                  <div class="cart-card-right-packaging-item active">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image2.jpg" /><span class="count">20</span></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Свежесть» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      150 рублей
                    </div>
                  </div>
                  <div class="cart-card-right-packaging-item">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image3.jpg" /></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Нежность» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      150 рублей
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="mobile-normal-view-btn disable" href="#">Развернуть товар</a>
        </div>
        <div class="cart-card">
          <div class="cart-card-top">
            <h2>
              Фотокнига (фиолетовая) 40 стр.
            </h2>
            <div class="cart-card-top-ui">
              <a class="dublicate" href="#">Дублировать товар</a><a class="edit" href="#">Редактировать</a><a class="del" href="#"></a>
            </div>
          </div>
          <div class="cart-card-body">
            <div class="cart-card-body-left">
              <div class="cart-card-body-left-slider">
                <div class="cart-card-body-left-item">
                  <img alt="" src="img/slide-image.jpg" />
                </div>
                <div class="cart-card-body-left-slider-nav">
                  <span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"></span><span class="fa fa-angle-right cart-card-body-left-slider-nav__next"></span>
                </div>
              </div>
            </div>
            <div class="cart-card-body-right">
              <div class="cart-card-body-right-price">
                <div class="cart-card-body-right-price-item">
                  <p class="book-cost">
                    1 890 руб.
                  </p>
                  <span>Стоимость фотокниги</span>
                </div>
                <span class="book-cost-plus">+</span>
                <div class="cart-card-body-right-price-item">
                  <p class="packet-cost">
                    3 000 руб.
                  </p>
                  <span>Упаковка «Свежесть»</span>
                </div>
              </div>
              <div class="mobile-normal-view active">
                <div class="cart-card-body-right-change">
                  <div class="cart-card-body-right-count">
                    <div class="counter__title">
                      Количество
                    </div>
                    <div class="counter">
                      <span class="count-minus">-</span><input name="count" type="text" value="2" /><span class="count-plus">+</span>
                    </div>
                  </div>
                  <div class="cart-card-body-right-color">
                    <div class="counter__title">
                      Цвет обложки
                    </div>
                    <div class="color-picker">
                      <span class="color_orange"></span><span class="color_violet"></span><span class="color_yellow"></span><span class="color_black"></span><span class="color_blue active"></span><span class="color_turquoise"></span><span class="color_pink"></span><span class="color_green"></span>
                    </div>
                  </div>
                </div>
                <div class="cart-card-right-description">
                  Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
                </div>
                <div class="cart-card-right-packaging-items">
                  <div class="cart-card-right-packaging-item">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image1.jpg" /></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Премиум» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      250 рублей
                    </div>
                  </div>
                  <div class="cart-card-right-packaging-item active">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image2.jpg" /><span class="count">20</span></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Свежесть» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      150 рублей
                    </div>
                  </div>
                  <div class="cart-card-right-packaging-item">
                    <div class="cart-card-right-packaging-item__img">
                      <a href="#"><img src="img/cart-item-image3.jpg" /></a>
                    </div>
                    <div class="cart-card-right-packaging-item__name">
                      «Нежность» 
                    </div>
                    <div class="cart-card-right-packaging-item__price">
                      150 рублей
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="mobile-normal-view-btn enable" href="#">Развернуть товар</a>
        </div>
      </div>
      <footer class="fixed">
        <div class="limmiter">
          <div class="footer-content">
            <div class="footer-content-left">
              <p>
                <b>Фотокниг в корзине:</b><span>Фотокнига х 3 шт.</span><a class="info">?</a>
              </p>
            </div>
            <div class="footer-content-right">
              <a class="btn btn-empty" href="#">Добавить книгу</a><a class="btn blue" href="#">Оформить за 51 670 руб.</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
